{% extends "main/base.html" %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Contact Information</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>QQ Group:</strong> <a href="https://qm.qq.com/q/dUT6HQZnnW"> 688022488 </a></li>
                        <li class="list-group-item"><strong>Github:</strong> <a href="https://www.github.com/RedstoneCraftTeam/Redstone_Craft/"> @RedstoneCraftTeam </a></li>
                        <li class="list-group-item"><strong>E-mail:</strong> <a href="mailto:info@geneluo.site"> info@geneluo.site </a></li>
                        <li class="list-group-item"><strong>Weibo:</strong> <a href="https://weibo.com/u/7764949880"> @红石工艺RedstoneCraft </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
    <script>
        document.getElementById('contact').classList.set('nav-item active');
    </script>
{% endblock extra_js %}