{% extends "main/base.html" %}
{% load static %}
{% block title %}Release - {{target_ver.tag}}{% endblock title %}
{% block content %}
<h1> {{target_ver.tag}} {{target_ver.title}}</h1>
<hr />
<div id="source-code" style="display: none;">{{ target_ver.description | safe}}</div>
<div id="content"></div>
{% if target_ver.description %}
    {% include "pages/markdown_render.html" %}
{% else %}
    <div class="alert alert-warning" role="alert">
        No description available.
    </div>
{% endif %}
<hr />
{% if target_ver.github_release %}
<a href="{{ target_ver.github_release }}" class="download-link github-download">View Release on Github</a>
<a href="{{ target_ver.github_download_link }}" class="download-link github-download">Download From Github</a>
{% endif %}
{% if target_ver.lanzou_url %}
<a href="{{ target_ver.lanzou_url }}" class="download-link lanzou-download">Download From Lanzou</a>
{% endif %}
{% endblock content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/release.css' %}">
{% endblock extra_css %}
{% block extra_js %}
<script>
    document.getElementById('download').classList.add('active');
</script>
{% endblock extra_js %}