{% extends "main/base.html" %}
{% load static %}

{% block title %}Download{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="my-4 text-center">Releases</h1>
        <hr />
        {% if versions %}
            <div class="list-group">
                {% for version in versions %}
                    <a href="{% url 'download:release' version.tag %}" class="list-group-item list-group-item-action flex-column align-items-start" name="{{version.tag}}">
                        <div>
                            <h5 class="mb-1 d-inline-block">{{version.tag}}</h5>
                            <strong class="text-primary ms-2">{{version.title}}</strong> <!-- 修改这一行 -->
                        </div>
                        <p class="mb-1">{{version.description|truncatewords:10}}</p>
                        <small>{{version.release_date|date:"F j, Y"}}</small>
                    </a>
                    <hr />
                {% empty %}
                    <div class="alert alert-info" role="alert">
                        No releases available.
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                An error occurred while fetching releases.
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
        document.getElementById('download').classList.add('active');
    </script>
{% endblock extra_js %}